In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline
warnings.filterwarnings("ignore")

In [60]:
INDONESIAN_NEWS_DATASET_PATH = "datasets/indonesian_news_dataset.csv"
SENTIMENT_DATASET_PATH = "datasets/sentiment.csv"
WIKIPEDIA_DATASET_PATH = "datasets/wikipedia_id-clean.csv"

In [26]:
indonesian_news_df = pd.read_csv(INDONESIAN_NEWS_DATASET_PATH)

In [27]:
indonesian_news_df.head()

,id,source,title,image,url,content,date,embedding,created_at,updated_at,summary
0,83,tempo,"Depo Plumpang Terbakar, Anggota DPR Minta Pert...",https://statik.tempo.co/data/2023/03/04/id_118...,https://nasional.tempo.co/read/1698528/depo-pl...,"TEMPO.CO, Jakarta - Anggota Komisi VII DPR RI ...",2023-03-04 06:18:13+00,"[-0.01590039,-0.034130897,0.005732614,-0.01853...",2023-03-04 07:03:39.039332,2023-03-04 07:03:39.039332,Anggota Komisi VII DPR RI Rofik Hananto menyay...
1,84,tempo,Jokowi Perintahkan Wapres Ma'ruf Amin Tinjau L...,https://statik.tempo.co/data/2023/03/04/id_118...,https://nasional.tempo.co/read/1698522/jokowi-...,"TEMPO.CO, Jakarta - Presiden Joko Widodo atau ...",2023-03-04 06:04:38+00,"[-0.017608976,-0.021786924,0.01547983,-0.00932...",2023-03-04 07:03:39.039332,2023-03-04 07:03:39.039332,Presiden Joko Widodo telah memerintahkan Wakil...
2,85,tempo,HNW Mendukung Jamaah Umroh First Travel Dapatk...,https://statik.tempo.co/data/2023/03/04/id_118...,https://nasional.tempo.co/read/1698527/hnw-men...,INFO NASIONAL - Wakil Ketua MPR RI Dr. H. M. H...,2023-03-04 06:18:04+00,"[0.00841488,-0.023665192,0.006762431,-0.013723...",2023-03-04 07:03:39.039332,2023-03-04 07:03:39.039332,Wakil Ketua MPR RI Dr. H. M. Hidayat Nur Wahid...
3,86,tempo,Tim Dokkes Polri Telah Terima 14 Kantong Jenaz...,https://statik.tempo.co/data/2023/03/04/id_118...,https://nasional.tempo.co/read/1698540/tim-dok...,"TEMPO.CO, Jakarta - Tim Kedokteran dan Kesehat...",2023-03-04 06:44:10+00,"[-0.012671886,-0.0039057182,0.019575326,-0.016...",2023-03-04 07:03:39.039332,2023-03-04 07:03:39.039332,Tim Kedokteran dan Kesehatan (Dokkes) Polri te...
4,87,tempo,Bamsoet Ajak Komunitas Otomotif Kembangkan Per...,https://statik.tempo.co/data/2023/03/04/id_118...,https://nasional.tempo.co/read/1698536/bamsoet...,INFO NASIONAL - Ketua MPR RI sekaligus Ketua U...,2023-03-04 06:38:57+00,"[-0.015486176,-0.0125719,-0.0122843925,-0.0343...",2023-03-04 07:03:39.039332,2023-03-04 07:03:39.039332,Ketua MPR RI Bambang Soesatyo telah diangkat s...

In [28]:
indonesian_news_df = indonesian_news_df[["content"]]

In [29]:
indonesian_news_df.head()

                                             content
0  TEMPO.CO, Jakarta - Anggota Komisi VII DPR RI ...
1  TEMPO.CO, Jakarta - Presiden Joko Widodo atau ...
2  INFO NASIONAL - Wakil Ketua MPR RI Dr. H. M. H...
3  TEMPO.CO, Jakarta - Tim Kedokteran dan Kesehat...
4  INFO NASIONAL - Ketua MPR RI sekaligus Ketua U...

In [30]:
indonesian_news_df["content"] = (
    indonesian_news_df["content"]
    .str.replace(r"^.*?\s-\s", "", regex=True)
    .str.strip()
)

In [31]:
indonesian_news_df.head()

                                             content
0  Anggota Komisi VII DPR RI Rofik Hananto menyay...
1  Presiden Joko Widodo atau Jokowi memerintahkan...
2  Wakil Ketua MPR RI Dr. H. M. Hidayat Nur Wahid...
3  Tim Kedokteran dan Kesehatan (Dokkes) Polri te...
4  Ketua MPR RI sekaligus Ketua Umum Ikatan Motor...

In [32]:
indonesian_news_df.tail()

                                                 content
32730  menjadi salah satu lubang terdalam dan tergela...
32731  Seorang guru SD di Banyuwangi ditangkap oleh p...
32732  Pelatih , Aji Santoso, salut dengan sambutan s...
32733  Suasana haru terjadi usai sidang terdakwa Suge...
32734  Presiden Joko Widodo telah secara resmi meneta...

In [33]:
indonesian_news_df.shape

(32735, 1)

In [35]:
sentiment_df = pd.read_csv(SENTIMENT_DATASET_PATH)

In [36]:
sentiment_df.head()

                                             kalimat  sentiment
0    Kalimat-kalimat tersebut adalah sebagai berikut          0
1  Manusia membutuhkan makanan dan air supaya men...          1
2  Tanaman hijau menggunakan air untuk membuat ma...          0
3  Tanaman yang tidak mendapat air akan layu dan ...          1
4  Keberhasilan belajar murid tidak hanya bergant...          1

In [37]:
sentiment_df = sentiment_df[["kalimat"]]

In [38]:
sentiment_df.shape

(12609, 1)

In [39]:
sentiment_df.head()

                                             kalimat
0    Kalimat-kalimat tersebut adalah sebagai berikut
1  Manusia membutuhkan makanan dan air supaya men...
2  Tanaman hijau menggunakan air untuk membuat ma...
3  Tanaman yang tidak mendapat air akan layu dan ...
4  Keberhasilan belajar murid tidak hanya bergant...

In [54]:
wikipedia_df = pd.read_csv(WIKIPEDIA_DATASET_PATH)

In [55]:
wikipedia_df.head()

,id,parent_id,timestamp,hash,title,text
0,1,19472643.0,2022-04-24T00:35:51Z,oo2rvi3f9p4u9czu3opfvbsl0jp9aog,Asam deoksiribonukleat,"Asam deoksiribonukleat, lebih dikenal dengan s..."
1,3,19395623.0,2022-05-05T11:26:32Z,lq3uz0weougma29prpmkm1l5at48s4w,Anwar Sadat,Muhammad Anwar el-Sadat; ) adalah seorang poli...
2,4,14292725.0,2021-07-05T02:41:20Z,3h1z248a5ic1u3odrse27wg0o0slljl,Azhar Mansor,Datuk Azhar Mansor adalah orang Malaysia perta...
3,5,21368465.0,2022-09-26T04:25:33Z,ololfquhgvu4wzszfu1yaqo3amb8xnm,Arkeologi,Arkeologi atau ilmu kepurbakalaan adalah ilmu ...
4,6,21768805.0,2022-11-02T02:33:49Z,mkxdb4xfmgse21h6lvtoflnvwlepdb3,Antropologi,Antropologi adalah ilmu tentang manusia. Antro...

In [56]:
wikipedia_df = wikipedia_df[["text"]]

In [57]:
wikipedia_df = wikipedia_df.sample(frac=0.1, random_state=42).reset_index(drop=True)

In [58]:
wikipedia_df.head()

                                                text
0  Kuluan adalah desa yang berada di kecamatan Bi...
1  Konstitusi Armenia, Undang-Undang Armenia atau...
2  Kodeks Parisino-petropolitanus adalah salah sa...
3  Alon Moni Abutbul (atau Aboutboul, אלון מוני א...
4  Out of This World adalah TV seri bergenre kome...

In [59]:
wikipedia_df.shape

(63880, 1)

In [61]:
indonesian_news_df = indonesian_news_df.rename(columns={"content": "message"})
sentiment_df = sentiment_df.rename(columns={"kalimat": "message"})
wikipedia_df = wikipedia_df.rename(columns={"text": "message"})

In [62]:
combined_df = pd.concat(
    [indonesian_news_df, sentiment_df, wikipedia_df],
    ignore_index=True
)

In [63]:
combined_df["label"] = 0

In [64]:
combined_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [66]:
combined_df.shape

(109224, 2)

In [67]:
combined_df.head()

                                             message  label
0  Toluca Raya atau Wilayah Metropolitan Toluca a...      0
1  Perum Bulog baru saja menerima penugasan dari ...      0
2  Sejumlah pejabat dan karyawan PT Freeport Indo...      0
3  Buntut kasus pegawai Kementerian Keuangan yang...      0
4  Sindangprabu adalah desa di Kecamatan Wanaraja...      0

In [68]:
combined_df.tail()

                                                  message  label
109219  Hot Cargo adalah sebuah film drama Amerika Ser...      0
109220  Letnan Jenderal TNI (Purn.) Marciano Norman  a...      0
109221  Perusahaan militer swasta (bahasa Inggris: pri...      0
109222  Mario Dandy Satriyo sempat terlibat perbincang...      0
109223  Presiden RI Joko Widodo ( Jokowi ) meminta kep...      0

In [65]:
combined_df.to_csv("datasets/human_generated_indonesia_combined.csv")